
@{
    ViewData["Title"] = "Pacientes";
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}
<div class="panel-header">
    <div class="page-inner py-sm-1 py-md-3 py-lg-4">
        <div class="container-fluid align-items-center">
            <div class="row ">
                <div class="order-md-0 col-sm-6 d-md-flex d-none">
                    <div>
                        <h1 class="text-dark pb-2 fw-bold">Pacientes</h1>
                        <h4 class="text-dark op-8 mb-2 fw-bold">Veja a lista dos seus pacientes.</h4>
                    </div>
                </div>
                <div class="order-md-1 col-sm-4 d-flex align-items-center justify-content-center">
                    <div class="form-group col-12">
                        <div class="input-icon">
                            <span class="input-icon-addon text-primary">
                                <i class="fa fa-search search-icon"></i>
                            </span>
                            <input type="text" class="form-control input-pill text-dark font-weight-bold" placeholder="Digite o Nome ou CPF">
                        </div>
                    </div>
                </div>
                <div class="order-md-2 col-sm-2 d-flex align-items-center justify-content-md-start justify-content-end mr-md-0 mr-3">
                    <button class="btn btn-primary btn-rounded create font-weight-bold">Criar Novo</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ListaPacientes"></div>
@section Scripts{
    <script>
        $('#ListaPacientes').load('Pacientes/ListaPacientes');
    </script>
}
