
@{
    ViewData["Title"] = "Pacientes";
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}
<div class="panel-header">
    <div class="page-inner ml-0 ml-md-5 py-sm-1 py-md-3 py-lg-4">
        <div class="container-fluid align-items-center">
            <div class="row ">
                <div class="order-md-0 col-md-6 d-md-block d-none">
                    <div>
                        <h1 class="text-dark pb-2 fw-bold">Pacientes</h1>
                        <h4 class="text-dark op-8 mb-2 fw-bold">Veja a lista dos seus pacientes.</h4>
                    </div>
                </div>
                <div class="order-md-1 col-md-4 d-flex align-items-center justify-content-center">
                    <div class="form-group col-12">
                        <div class="input-icon">
                            <span class="input-icon-addon text-primary">
                                <i class="fa fa-search search-icon"></i>
                            </span>
                            <input type="text" class="form-control input-pill text-dark font-weight-bold" id="buscarPaciente" placeholder="Digite o Nome ou CPF">
                        </div>
                    </div>
                </div>
                <div class="order-md-2 col-md-2 d-flex align-items-center justify-content-md-start justify-content-end mr-md-0 mr-3">
                    <button class="btn btn-primary btn-rounded create font-weight-bold">Criar Novo</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-10 mx-auto d-flex justify-content-end form-group">
    <select class="form-control form-control-sm col-md-2" id="RegistroPorPagina">
        <option value="10">10 itens por página</option>
        <option value="30">30 itens por página</option>
        <option value="50">50 itens por página</option>
        <option value="100">100 itens por página</option>
    </select>
</div>
<div id="loading" class="col-md-10 mx-auto d-flex justify-content-center align-items-center form-group">
    <div class="spinner-grow text-primary" role="status">

    </div>
    <div class="spinner-grow text-primary" role="status">

    </div>
    <div class="spinner-grow text-primary" role="status">

    </div>
    <div class="spinner-grow text-primary" role="status">

    </div>
    <div class="spinner-grow text-primary" role="status">

    </div>
    <div class="spinner-grow text-primary" role="status">

    </div>
</div>
<div id="ElementsList"></div>

<nav>
    <ul class="pagination justify-content-center">
    </ul>
</nav>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="Tmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body modal-dialog-scrollable">
                <div class="col-12" id="modal"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/assets/js/odontoapp/pagination/app_pagination.js"></script>
    <script src="~/assets/js/odontoapp/paciente/paciente_index.js"></script>
}
