@model Paciente
@{
    ViewData["Title"] = "Página do Paciente";
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}

<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<div class="panel-header">
    <div class="page-inner ml-0 ml-md-5 py-sm-1 py-md-3 py-lg-4">
        <div class="container-fluid align-items-center">
            <div class="row ">
                <div class="order-md-0 col-sm-5 col-md-6  col-lg-6 d-md-flex d-none">
                    <div>
                        <h1 class="text-dark pb-2 fw-bold">@Model.NomePaciente</h1>
                        <h4 class="text-dark op-8 mb-2 fw-bold">Veja os detalhes do paciente.</h4>
                    </div>
                </div>
                @*<div class="order-md-1 col-md-4 d-flex align-items-center justify-content-center">
                        <div class="form-group col-12">
                            <div class="input-icon">
                                <span class="input-icon-addon text-primary">
                                    <i class="fa fa-search search-icon"></i>
                                </span>
                                <input type="text" class="form-control input-pill text-dark font-weight-bold" placeholder="Digite o Nome ou CPF">
                            </div>
                        </div>
                    </div>*@
                <div class="order-md-2 btn-group order-md-2 col-md-2 d-flex align-items-center justify-content-md-start justify-content-end mr-md-0 mr-3">
                    <div class="container d-flex d-sm-flex d-md-none justify-content-end">
                        <div class="dropdown show mr-3">
                            <select class="form-control input-pill">
                                <option>Sobre</option>
                                <option>Orçamentos</option>
                                <option>Tratamentos</option>
                                <option>Anamneses</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="justify-content-center d-md-flex d-md-block d-none">
        <ul class="nav nav-line nav-color-default col-12 col-md-10" id="nav-tab">
            <li class="nav-item">
                <a class="nav-link" id="sobre" data-toggle="tab" href="#nav-sobre" role="tab" value="1">Sobre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="orcamento" data-toggle="tab" href="#nav-orcamento" role="tab" value="2">Orçamentos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tratamento" data-toggle="tab" href="#nav-tratamento" role="tab" value="3">Tratamentos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="anamnese" data-toggle="tab" href="#nav-anamnese" role="tab" value="4">Anamneses</a>
            </li>
        </ul>
    </nav>
</div>
<div class="tab-content" id="nav-tabContent">
    <!--Telas sobre-->
    <div class="tab-pane" id="nav-sobre" role="tabpanel" aria-labelledby="sobre">
        <div class="container-fluid mt-md-5">
            <div class="row">
                <!--Bloco 1 sobre -->
                <div class="col-md-6">
                    <div class="spinner1 pt-0" id="loadDetalhes">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                    <div class="card col-md-11 mx-auto">
                        <div class="card-body">
                            <div id="detalhes" class="row ml-md-5"></div>
                        </div>
                    </div>
                </div>
                <!--Bloco 2 sobre -->
                <div class="col-md-6 mb-4">
                    <div class="spinner1" id="loadAgenda">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                    <div id="agendas"></div>
                </div>
            </div>
        </div>
    </div>
    <!--Telas orcamento-->
    <div class="tab-pane fade" id="nav-orcamento" role="tabpanel" aria-labelledby="orcamento">
        <div class="content p-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-11 ml-auto mr-auto">
                        <div class="card shadow-sm" style="border-radius:10px">
                            <div class="card-body">
                                <div class="spinner1" id="loadOrcamento">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                                <div id="orcamentos"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Telas Tratamento-->
    <div class="tab-pane fade" id="nav-tratamento" role="tabpanel" aria-labelledby="tratamento">
        <div id="tratamentos"></div>
    </div>
    <!--Telas Anamnese-->
    <div class="tab-pane fade" id="nav-anamnese" role="tabpanel" aria-labelledby="anamnese">
        <div class="content p-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-11 ml-auto mr-auto">
                        <div class="card shadow-sm col-12" style="border-radius:10px">
                            <div class="card-body">
                                <div class="col-sm-6 float-right">
                                    <div class="input-icon">
                                        <span class="input-icon-addon text-primary">
                                            <i class="fa fa-search search-icon"></i>
                                        </span>
                                        <input type="text" class="form-control input-pill text-dark font-weight-bold" id="buscarAnamnese" placeholder="Buscar Anamneses">
                                    </div>
                                </div>
                                <div class="spinner1" id="loadAnamnese">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                                <div id="anamneses"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----Carrega Modal-->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="Tmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body modal-dialog-scrollable">
                <div id="modal" class="container-fluid"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @if (TempData["aba"] is null || (int)TempData["aba"] == 1)
    {
        <script>
            window.addEventListener('load', function () {
                document.querySelector('ul#nav-tab a#sobre').classList.add('active')
                document.querySelector('div#nav-sobre').classList.add('show', 'active')
                Detalhes()
                Agenda()
            })
        </script>
    }
    else if ((int)TempData["aba"] == 2)
    {
        <script>
            window.addEventListener('load', function () {
                document.querySelector('ul#nav-tab a#orcamento').classList.add('active')
                document.querySelector('div#nav-orcamento').classList.add('show', 'active')
                Orcamento()
            })
        </script>
    }
    else if ((int)TempData["aba"] == 3)
    {
        <script>
            window.addEventListener('load', function () {
                document.querySelector('ul#nav-tab a#tratamento').classList.add('active')
                document.querySelector('div#nav-tratamento').classList.add('show', 'active')
                Tratamento()
            })
        </script>
    }
    else if ((int)TempData["aba"] == 4)
    {
        <script>
            window.addEventListener('load', function () {
                document.querySelector('ul#nav-tab a#anamnese').classList.add('active')
                document.querySelector('div#nav-anamnese').classList.add('show', 'active')
                Anamnese()
            })
        </script>
    }
    <script type="text/javascript" defer="defer">
        window.addEventListener('load', function () {
            document.querySelectorAll('ul.nav a').forEach(el => el.addEventListener('click', function () {
            if (this.id == 'sobre') {
                Detalhes()
                Agenda()
            }
            else if (this.id == 'orcamento') {
                Orcamento()
            }
            else if (this.id == 'tratamento') {
                Tratamento()
            }
            else if (this.id == 'anamnese') {
                Anamnese()
            }
        }))
        })
        document.addEventListener('DOMContentLoaded', function () { })
        let loadDetalhes = document.querySelector('div#loadDetalhes')
        let loadAgenda = document.querySelector('div#loadAgenda')
        let loadOrcamento = document.querySelector('div#loadOrcamento')

        function Detalhes() {
            loadDetalhes.hidden = false
            $.ajax({
                type: "GET",
                url: `/Pacientes/Sobre?pacienteid=${@Model.PacienteId}`,
                contentType: 'application/json',
                success: partialview => {
                    loadDetalhes.hidden = true
                    $("#detalhes").html(partialview)
                },
                error: code => {
                    loadDetalhes.hidden = true
                    $("#detalhes").html(`<h2 class="text-danger">Algo deu errado, tente novamente! Error ${code.status}<h2>`)
                }
            })
        }
        function Orcamento() {
            loadOrcamento.hidden = false
            $.ajax({
                type: "GET",
                url: `/Orcamentos/Index?pacienteId=${@Model.PacienteId}`,
                contentType: 'application/json',
                success: partialview => {
                    loadOrcamento.hidden = true
                    $("#orcamentos").html(partialview)
                },
                error: code => {
                    loadOrcamento.hidden = true
                    $("#orcamentos").html(`<h2 class="text-danger">Algo deu errado, tente novamente! Error ${code.status}<h2>`)
                }
            })
        }
        function Anamnese(search=buscaAnamnese.value, numberpag=null, recordperpage=null,inicio = null, fim = null) {

            loadAnamnese.hidden = false
            let appview = {
                search:search,
                numberpag:numberpag,
                recordperpage:recordperpage,
                start:inicio,
                end:fim
            }
            $.ajax({
                type: "GET",
                data: {pacienteId:@Model.PacienteId, appview:appview},
                url: '/Anamneses/PacienteAnamneses/',
                success: partialview => {
                    loadAnamnese.hidden = true
                    $("#anamneses").html(partialview)
                },
                error: code => {
                loadAnamnese.hidden = true
                $("#anamneses").html(`<h2 class="text-danger">Algo deu errado, tente novamente! Error ${code.status}<h2>`)
                }
            })
        }
        function Agenda(search=null, numberpag=null, recordperpage=null,inicio = null, fim = null) {
            loadAgenda.hidden = false
            let appview = {
                search:search,
                numberpag:numberpag,
                recordperPage:recordperpage,
                start:inicio,
                end:fim
            }
            $.ajax({
                type: "GET",
                data: {pacienteid:@Model.PacienteId, appview:appview},
                url: '/Agendas/PacienteAgendas/',
                success: partialview => {
                    loadAgenda.hidden = true
                    $('#agendas').html(partialview)
                },
                error: code => {
                loadAnamnese.hidden = true
                $('#agendas').html(`<h2 class="text-danger">Algo deu errado, tente novamente! Error ${code.status}<h2>`)
                }
            })
        }
        function Tratamento() {
            $('#tratamentos').load(`/Pacientes/PacienteTratamento?id=${@Model.PacienteId}`)
        }
        function debounce(func, wait) {
            let timer = null;
            return function() {
                clearTimeout(timer);
                timer = setTimeout(func, wait);
            }
        }
        let buscaAnamnese = document.querySelector('input[id="buscarAnamnese"]')
        buscaAnamnese.addEventListener('input', debounce(Anamnese, 500))
    </script>
    @*Carrega em caso de erro no modelstate*@
    @if (TempData["Edit"] != null)
    {
        <script>
            $("#modal").load("/Pacientes/Edit/" + @TempData["Edit"], function () {
                $("#Tmodal").modal();
            })
        </script>
    }
}
