@{
    ViewData["Title"] = "Error404";
    Layout = "_Layout_3";
}
<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-4 text-center">
            <h1 class="text-white font-weight-bold mb-3">Error 404!</h1>
            <h3 class="text-white font-weight-bold text-justify">Eita, algo de errado não está certo! Volte para página inicial.</h3>
            <img src="~/img/error.png" class="ml-3 img-fluid" />
            <div class="mt-5 text-center">
                <a class="btn btn-lg blue-gradient font-weight-bold" asp-controller="Usuarios" asp-action="Index">Início</a>
            </div>
        </div>
    </div>
</div>
