@{
    ViewData["Title"] = "Messages";
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}

<link href='msg.css' rel='stylesheet' type="text/css" />

<input id="user">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 min-vh-100">
            <div class="col mt-5">
                <h1 class="msg">Mensagens</h1>
                <div class="nav nav-tabs nav-line nav-color-default">
                    <a class="todas mr-5 ml-3 nav-item nav-link active" data-toggle="tab" href="#todas">Todas</a>
                    <a class="nav-item nav-link " data-toggle="tab" href="#arquivadas">Arquivadas</a>
                </div>
                <div class="tab-content">
                    <div class="container tab-pane active" id="todas">

                        <form>

                            <div class="input-group divsearchcontact col-10 mt-5 ml-2">
                                <input type="text" class="campotexto" name="contato" id="contato" placeholder="Buscar">

                            </div>


                        </form>


                        <div class="container contato">
                            <a class="acontato" onclick="" href="javascript:void(0)">
                                <div class="row col contatos">
                                    <div class="bola mt-4"></div>
                                    <div class="avatar ml-2"></div>
                                    <div class="mt-2">
                                        <div class="col font-weight-bold nome">Nome Sobrenome</div>
                                        <div class="col">Última mensagem</div>
                                    </div>
                                    <div class="mt-2 ml-3">2h ></div>
                                </div>
                            </a>

                            <hr>
                            <a class="acontato" onclick="" href="javascript:void(0)">
                                <div class="row col contatos">
                                    <div class="bola mt-4"></div>
                                    <div class="avatar ml-2"></div>
                                    <div class="mt-2">
                                        <div class="col font-weight-bold nome">Nome Sobrenome</div>
                                        <div class="col">Última mensagem</div>
                                    </div>
                                    <div class="mt-2 ml-3">2h ></div>
                                </div>
                            </a>
                            <hr>
                            <a class="acontato" onclick="" href="javascript:void(0)">
                                <div class="row col contatos">
                                    <div class="bola mt-4"></div>
                                    <div class="avatar ml-2"></div>
                                    <div class="mt-2">
                                        <div class="col font-weight-bold nome">Nome Sobrenome</div>
                                        <div class="col">Última mensagem</div>
                                    </div>
                                    <div class="mt-2 ml-3">2h ></div>
                                </div>
                            </a>
                            <hr>
                            <a class="acontato" onclick="" href="javascript:void(0)">
                                <div class="row col contatos">
                                    <div class="bola mt-4"></div>
                                    <div class="avatar ml-2"></div>
                                    <div class="mt-2">
                                        <div class="col font-weight-bold nome">Nome Sobrenome</div>
                                        <div class="col">Última mensagem</div>
                                    </div>
                                    <div class="mt-2 ml-3">2h ></div>
                                </div>
                            </a>
                            <hr>
                            <a class="acontato" onclick="" href="javascript:void(0)">
                                <div class="row col contatos">
                                    <div class="bola mt-4"></div>
                                    <div class="avatar ml-2"></div>
                                    <div class="mt-2">
                                        <div class="col font-weight-bold nome">Nome Sobrenome</div>
                                        <div class="col">Última mensagem</div>
                                    </div>
                                    <div class="mt-2 ml-3">2h ></div>
                                </div>
                            </a>
                            <hr>
                            <a class="acontato" onclick="" href="javascript:void(0)">
                                <div class="row col contatos">
                                    <div class="bola mt-4"></div>
                                    <div class="avatar ml-2"></div>
                                    <div class="mt-2">
                                        <div class="col font-weight-bold nome">Nome Sobrenome</div>
                                        <div class="col">Última mensagem</div>
                                    </div>
                                    <div class="mt-2 ml-3">2h ></div>
                                </div>
                            </a>
                            <hr>
                            <a class="acontato" onclick="" href="javascript:void(0)">
                                <div class="row col contatos">
                                    <div class="bola mt-4"></div>
                                    <div class="avatar ml-2"></div>
                                    <div class="mt-2">
                                        <div class="col font-weight-bold nome">Nome Sobrenome</div>
                                        <div class="col">Última mensagem</div>
                                    </div>
                                    <div class="mt-2 ml-3">2h ></div>
                                </div>
                            </a>





                        </div>

                    </div>
                    <div class="tab-pane" id="arquivadas">teste222</div>
                </div>

            </div>

        </div>
        <div class="col-md-6 vh-100">
            <h1 class="mt-5">Nome e Sobrenome</h1>
            <div class="chat mt-5">
                <div class="col">
                    <div class="row">
                        <div class="balao1">

                            <p class="m-3">
                                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                            </p>

                        </div>

                    </div>
                    <div>
                        1 dia atras
                    </div>
                </div>
                <div class="col">
                    <div class="row justify-content-end">
                        <div class="balao2 mr-5 bg-primary">
                            <p class="m-3 text-white">Simmmsssssssssssssssssssssssssssssssssssssss</p>
                        </div>

                    </div>
                    <div class="tempomsg">2 dias atras</div>
                </div>

            </div>

            <div class="form-group divcamptext col-11">
                <input type="text" class="campotexto" name="msg" id="mensagem" placeholder="Envie sua mensagem">
                <button id="butaozinho" type="submit" class="btnchat">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>


        </div>
        <div class="d-md-flex d-none col-md-3 min-vh-100 border-left">
            <div class="col">
                <div class="d-flex justify-content-center mt-5">
                    <div class="avatarnome rounded-circle border border-dark">

                    </div>

                </div>
                <div class="d-flex justify-content-center mt-4" style="font-size: 20px;"> Nome Sobrenome </div>
                <hr class="hr1 mt-4">
                <div class="col">
                    <div class="col">
                        <h2>Dados</h2>
                    </div>
                    <div class="col">
                        <p>
                            adaoudeahoeadhdeaouhadeouhdeaouahdeouadehouahdeoudeahoaudehoudeahdeaouhdeaouhdeaouhdeaoudeahoudeahoudeahoudeahdoueahdoueahdaeouhdeaouhdeaoudeaheadoudeudeahua
                        </p>
                    </div>
                </div>
                <hr class="hr1 mt-4">
                <div class="col">
                    <h2 class="ml-2">Fotos e Documentos</h2>
                </div>
            </div>


        </div>

    </div>
</div>
</div>



<style>
    ::-webkit-scrollbar-track {
        background-color: #F4F4F4;
    }

    ::-webkit-scrollbar {
        width: 6px;
        background: #F4F4F4;
    }

    ::-webkit-scrollbar-thumb {
        background: #dad7d7;
    }

    .avatarnome {
        height: 150px;
        width: 150px;
    }

    .tempomsg {
        margin-left: 85%;
    }

    .chat {
        height: 65%;
        overflow-y: auto;
    }

    .balao1 {
        max-width: 45%;
        border-radius: 0 30px 30px 30px;
        background-color: #C8C8C8;


    }

    .balao2 {
        max-width: 45%;
        background-color: red;
        border-radius: 30px 30px 0 30px;

    }

    .btnchat {
        background: none;
        background-color: transparent;
        border: none;
    }

    .baloes {
        height: 88%;
    }

    .divcamptext {

        border: 1px solid #909090;
        border-radius: 20px;
        background-color: white;
        height: 40px;


    }

    .divsearchcontact {

        border: 1px solid #909090;
        border-radius: 20px;
        background-color: white;
        height: 30px;


    }

    .campotexto {
        background: none;
        background-color: transparent;
        border: none;
        width: 95%;

    }


    .acontato:link {
        text-decoration: none;
        color: #575962;
    }


    .bola {
        border-radius: 50%;

        height: 12px;
        width: 12px;
        border: 1px solid #1538fc;
        background-color: #1538fc;
    }

    .contato {
        height: 500px;
        margin-top: 60px;
        overflow: scroll;

    }

    .contatos {
        margin-top: 40px;
    }

    .nome {
        font-size: 18px;
        color: black;
    }

    hr {
        color: #f00;
        background-color: #E0E0E0;
        height: 0.5px;
        width: 200px;

    }

    .hr1 {
        color: #f00;
        background-color: #E0E0E0;
        height: 0.5px;
        width: 350px;

    }

    .msg {
        margin-left: 35px;
    }

    .avatar {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        border: 1px solid #909090;

    }

    #txtBusca {
        float: left;
        background-color: transparent;
        padding-left: 5px;

        font-size: 15px;

        height: 32px;

        border: solid 1px #909090;
        border-radius: 15px;
        width: 300px;
    }
</style>


@section Scripts{
    <script src="~/assets/js/odontoapp/message/message_index.js"></script>
}
