@inject IAuthService authService
@model ApplicationUser
@{
    ViewData["Title"] = "Habilitar conta";
    Layout = "~/Views/Shared/_Layout_3.cshtml";
}
<div class="container-fluid text-center">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="card col-12 col-md-6 col-lg-4 py-5 py-md-4">
            <div class="card-body">
                <i class="text-primary far fa-envelope fa-6x"></i>
                @{ await Html.RenderPartialAsync("~/Views/Shared/_Mensagem.cshtml"); }
                <h4 class="font-weight-bold text-muted">Verifique seu email</h4>
                <h5 class="my-2 text-muted">@Model.Email</h5>
                <hr class="my-4 text-muted" style="width: 80%;">
                <div class="mb-4 row">
                    <div class="col-md-12">
                        <div class="form-row justify-content-center">
                            <div class="col-xl-7 col-lg-12 col-md-10 col-12">
                                <p class="text-center text-justify text-muted font-weight-bold h6">
                                    Por favor confirme seu endereco de email.
                                    Para confirmá-lo, basta ir até sua caixa de entrada e clicar no link que te enviamos.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="width: 50%;">
                <div class="col-12 text-center mb-5">
                    @if (!(await authService.GetLoggedUserAsync() is null))
                    {
                        <a href="javascript:void(0)" class="font-weight-bold reenviar h6" style="font-size:14px">Sem link de confirmação? Clique aqui</a>
                    }
                </div>
                <div class="form-row mt-5">
                    <div class="col-md-6 mt-4 mt-md-0 col-12 order-1 order-md-0 ml-auto align-self-center">
                        <a asp-action="signout" asp-controller="auth" class="font-weight-bold">Sair</a>
                    </div>
                    <div class="col-md-6 col-12 ml-auto">
                        <a asp-action="index" asp-controller="agendas" type="submit" class="btn btn-lg btn-primary btn-block text-capitalize" style="box-shadow:none"> Já confirmei</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="Tmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body modal-dialog-scrollable">
                <div id="modal" class="col-12"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(".reenviar").click(function () {
            $("#modal").load("/Usuarios/NovaConfirmacaoEmail/", function () {
                $("#Tmodal").modal()
            })
        })
    </script>
}