@{
    ViewData["Title"] = "Página inicial";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}
<div id="tela1" class="wrapper bg-light justify-content-center align-items-center row">
    <div class="form-group col-md-6 col-12 text-center">
        <div class="col-12">
            <h3 class="display-4 text-dark text-center font-weight-bold">A maneira mais intuitiva de administrar seu consultório</h3>
        </div>
        <div class="col-md-6 mt-5">
            <a class="btn btn-lg btn-round btn-primary font-weight-bold text-white mt-auto">Teste Grátis*</a>
            <p class="font-weight-bold text-dark">*Teste por 7 dias</p>
        </div>
        <div class="col-md-6">

        </div>

    </div>
    <div class="col col-md-6">

    </div>
    <imgs width="1000" src="~/img/devfourlogo.png" class="img-fluid"/>
</div>

<div id="tela2" class="min-vh-100 bg-dark justify-content-center align-items-center row">
    <h3 class="display-4 text-white font-weight-bold">Nossas Ferramentas</h3>
</div>
<div id="tela3" class="min-vh-100 bg-light justify-content-center align-items-center row">
    <h3 class="display-4 text-dark font-weight-bold">Nosso Teste</h3>
</div>
<div id="tela4" class="min-vh-100 bg-dark justify-content-center align-items-center row">
    <h3 class="display-4 text-white font-weight-bold">Outra tela</h3>
</div>
<div id="tela5" class="min-vh-100 row justify-content-center align-items-center bg-light">
    <h3 class="display-4 text-dark font-weight-bold col-12 text-center">Nossos Planos</h3>
    <div class="col-md-3 pl-md-0">
        <div class="card-pricing2 card-info">
            <div class="pricing-header">
                <h3 class="fw-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Básico</font></font></h3>
                <span class="sub-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">custo baixo e atende bem</font></font></span>
            </div>
            <div class="price-value">
                <div class="value">
                    <span class="currency"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$</font></font></span>
                    <span class="amount"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">10)</font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">99</font></font></span></span>
                    <span class="month"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">/mês</font></font></span>
                </div>
            </div>
            <ul class="pricing-content">
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">50 GB de espaço em disco</font></font></li>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">50 contas de email</font></font></li>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">50GB de largura de banda mensal</font></font></li>
                <li class="disable"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">10 Subdomínios</font></font></li>
                <li class="disable"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">15 domínios</font></font></li>
            </ul>
            <a href="#" class="btn btn-info btn-border btn-lg w-50 btn-round fw-bold mb-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">inscrever-se</font></font></a>
        </div>
    </div>
    <div class="col-md-3 pl-md-0 pr-md-0">
        <div class="card-pricing2 card-primary">
            <div class="pricing-header">
                <h3 class="fw-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Padrão</font></font></h3>
                <span class="sub-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Isso e aquilo outro</font></font></span>
            </div>
            <div class="price-value">
                <div class="value">
                    <span class="currency"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$</font></font></span>
                    <span class="amount"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">20</font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">99</font></font></span></span>
                    <span class="month"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">/mês</font></font></span>
                </div>
            </div>
            <ul class="pricing-content">
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">60 GB de espaço em disco</font></font></li>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">60 contas de email</font></font></li>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Largura de banda mensal de 60 GB</font></font></li>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">15 Subdomínios</font></font></li>
                <li class="disable"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">20 domínios</font></font></li>
            </ul>
            <a href="#" class="btn btn-primary btn-border btn-lg w-50 btn-round fw-bold mb-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">inscrever-se</font></font></a>
        </div>
    </div>
    <div class="col-md-3 pr-md-0">
        <div class="card-pricing2 card-default">
            <div class="pricing-header">
                <h3 class="fw-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Premium</font></font></h3>
                <span class="sub-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">é o mais brabo que tem meu pivete</font></font></span>
            </div>
            <div class="price-value">
                <div class="value">
                    <span class="currency"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$</font></font></span>
                    <span class="amount"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">30)</font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">99</font></font></span></span>
                    <span class="month"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">/mês</font></font></span>
                </div>
            </div>
            <ul class="pricing-content">
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">70 GB de espaço em disco</font></font></li>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">70 contas de email</font></font></li>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">70GB de largura de banda mensal</font></font></li>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">20 Subdomínios</font></font></li>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">25 domínios</font></font></li>
            </ul>
            <a href="#" class="btn btn-default btn-border btn-lg w-50 btn-round fw-bold mb-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">inscrever-se</font></font></a>
        </div>
    </div>
</div>

