@model UserCode
@{
    ViewData["Title"] = "Alterar senha";
    Layout = "~/Views/Shared/_Layout_3.cshtml";
}
<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="card col-12 col-md-6 col-lg-4">
            <div class="card-body">
                <form method="post">
                    <a class="logo" asp-area="" asp-controller="Usuarios" asp-action="Index">
                        <img class="d-block mx-auto mb-4" src="~/img/Logoprimary.png" alt="" width="150">
                    </a>
                    <h4 class="card-title mb-4 mt-1 text-center">Recuperação de conta</h4>
                    <input asp-for="Usuario.UsuarioId" type="hidden" />
                    @if (!string.IsNullOrEmpty(Model.Usuario.Email))
                    {
                        <div class="form-group text-center">
                            <label class="text-muted font-weight-bold"><i class="fa fa-user-circle"></i>@Model.Usuario.Email</label>
                            <input asp-for="Usuario.Email" class="form-control" type="hidden">
                        </div>
                    }
                    @{ await Html.RenderPartialAsync("~/Views/Shared/_Mensagem.cshtml"); }
                    <div class="md-form mt-5">
                        <input id="cod" asp-for="AcessCode.Key" class="form-control" type="text">
                        <label for="cod">Código de Verificação</label>
                    </div>
                    <div class="md-form">
                        <input id="newSenha" asp-for="Usuario.Senha" class="form-control" type="password">
                        <label for="newSenha">Nova Senha</label>
                    </div>
                    <div class="md-form">
                        <input id="Senha" asp-for="Usuario.ConfirmacaoSenha" class="form-control" type="password">
                        <label for="Senha">Confirmação de nova senha</label>
                    </div>
                    <div class="form-row mt-5">
                        <div class="col-md-6 mt-4 mt-md-0 col-12 order-1 order-md-0 ml-auto align-self-center">
                            <a asp-action="RecuperarSenha" asp-controller="Usuarios" class="font-weight-bold">Anterior</a>
                        </div>
                        <div class="col-md-6 col-12 ml-auto">
                            <button type="submit" class="btn btn-lg btn-primary btn-block text-capitalize"> Próximo </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

