@{
    ViewData["Title"] = "Verificação de email";
    Layout = "~/Views/Shared/_Layout_3.cshtml";
}
<div class="container-fluid text-center">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="card col-12 col-md-6 col-lg-4 py-5 py-md-4">
            <div class="card-body">
                @if (TempData["MSG_S"] != null)
                {
                    <i class="text-primary far fa-check-circle fa-6x"></i>
                }
                else
                {
                    <i class="text-danger far fa-times-circle fa-6x"></i>
                }
                <div class="my-4 row">
                    <div class="col-md-12">
                        <div class="form-row justify-content-center">
                            <div class="col-xl-8 col-lg-12 col-md-10 col-12">
                                <p class="text-center text-justify text-muted font-weight-bold h5">
                                 @if (TempData["MSG_S"] != null)
                                 {
                                     @TempData["MSG_S"]
                                 }
                                 else
                                 {
                                    <span>Não foi possível completar sua solicitação, se o problema persistir entre em contato conosco.</span>
                                 }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row mt-5">
                    <div class="col-md-6 col-12 ml-auto mr-auto">
                        <a asp-action="signin" asp-controller="auth" type="submit" class="btn btn-lg btn-primary btn-block text-capitalize" style="box-shadow:none">Acessar agora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>