<!DOCTYPE html>
<html lang="pt-br" style="font-size: 1rem;">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/img/logo1.png"/>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/atlantis.min.css">
    <link rel="stylesheet" href="~/assets/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-toggleable-lg navbar-light bg-light box-shadow mb-5 form-group">
            <div class="container-fluid col-md-10 col-12">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="text-primary navbar-toggler-icon"></span>
                </button>
                <img width="150" src="~/img/Logoprimaryline.png" alt="..." class="img-fluid mr-auto mr-md-0 ml-3">
                <div class="collapse navbar-collapse justify-content-md-end" id="navbarCollapse">
                    <form class="form-inline mt-2 mt-md-0">
                        <div class="form-inline">
                            <a class="btn btn-lg mr-0 mr-md-2" href="#tela1"><h3 class="font-weight-bold text-dark">Inicio</h3></a>
                            <a class="btn btn-lg mr-0 mr-md-2" href="#tela2"><h3 class="font-weight-bold text-dark">Ferramentas</h3></a>
                            <a class="btn btn-lg mr-0 mr-md-2" href="#tela3"><h3 class="font-weight-bold text-dark">Teste</h3></a>
                            <a class="btn btn-lg  mr-0 mr-md-2" href="#tela4"><h3 class="font-weight-bold text-dark">Outra tela</h3></a>
                            <a class="btn btn-lg mr-2 mr-md-5" href="#tela5"><h3 class="font-weight-bold text-dark">Planos</h3></a>
                        </div>
                        <div class="btn-group float-right float-md-none">
                            <a class="btn btn-lg btn-round btn-outline-primary mr-4 font-weight-bold" style="border-width:medium" asp-controller="Usuarios" asp-action="Login">Login</a>
                            <a class="btn btn-lg btn-round btn-primary font-weight-bold" style="border-width:medium" asp-controller="Usuarios" asp-action="CadastroUsuario">Cadastrar</a>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="bg-dark">
        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-right">
            <div class="col-md-12 py-5">
                <div class="mb-12 flex-center">
                    <a class="text-white mr-md-5 mr-3 h4" asp-area="" asp-controller="Dev4s" asp-action="Privacy">
                        Termos e Privacidade
                    </a>
                    <!-- Twitter -->
                    <a class="text-white mr-md-5 mr-3 h4">
                        Copyright  &copy;2019 - @DateTime.Now.Year DEV4
                    </a>
                </div>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Footer Text -->
    </footer>
    <!-- Footer -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>
    <script src="~/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/js/plugin/chart.js/chart.min.js"></script>
    <script src="~/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../assets/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <script>
        $('nav div.form-inline a').click(function (e) {
            e.preventDefault();
            let id = this.getAttribute('href'),
                targetOffset = $(id).offset().top,
                menuHeight = $('nav').innerHeight();
            $('html, body').animate({
                scrollTop: targetOffset - menuHeight
            }, 500);
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>