@{
    ViewData["Title"] = "Agenda";
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}

@model PacientesMedicos
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<input type="hidden" id="RequestVerificationToken"
       name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">
<!---Matenha esses links aqui-->
<link href='~/agenda/resources/core/main.css' rel='stylesheet' />
<link href='~/agenda/resources/daygrid/main.css' rel='stylesheet' />
<link href='~/agenda/resources/timegrid/main.css' rel='stylesheet' />
<link href='~/agenda/resources/list/main.css' rel='stylesheet' />
@*<link href='~/agenda/resources/bootstrap/main.css' rel='stylesheet' />*@

<!--Corpo principal do calendário-->
<div class="content p-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="card rounded-0 shadow-sm">
                    <div class="card-body">
                        <!--Div que carrega a Agenda-->
                        <div id="agenda"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------------>
<!--Corpo dos Modais----------------------------------->
<div class="modal fade" id="modalAgenda" tabindex="-1" role="dialog" aria-labelledby="TitleModal" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content shadow">
            <!--Titulo do modal-->
            <div class="modal-header bg-primary">
                <h4 class="text-center modal-title font-weight-bold text-muted ml-2" id="TitleModal">Título do modal</h4>
                <i class="fas fa-times fa-2x text-white exit mr-2" data-dismiss="modal"></i>
            </div>
            <!--Conteudo do modal-->
            <div class="modal-body">
                <form id="formAgenda">  
                    <div class="form-group row">
                        <div class="col-1 d-flex align-items-end justify-content-center pb-2"><i class="text-muted fas fa-font fa-2x"></i></div>              
                        <div class="col-11 form-row">                           
                                <label for="titulo" class="col-4 col-form-label font-weight-bold text-muted">Título</label>
                                <input type="text" class="form-control" id="titulo">
                                <input type="hidden" id="agendaId">
                                <input type="hidden" id="usuarioId">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-1 d-flex align-items-end justify-content-center pb-2"><i class="text-muted far fa-user fa-2x"></i></div>  
                        <div class="col-11 has-feedback form-row">
                            <label asp-for="Paciente.NomePaciente" class="col-4 col-form-label font-weight-bold text-muted">Paciente</label>
                            <input asp-for="Paciente.NomePaciente" type="text" class="form-control text-muted" autocomplete="off" placeholder="Informe nome, email ou cpf do paciente">
                            <div id="loadPaciente" class="autocomplete-feedback form-control-feedback" style="display: none;">
                                <svg class="_loading_svg" viewBox="0 0 46 46">
                                    <circle class="_loading_svg_circle" cx="23" cy="23" r="20" fill="none"></circle>
                                </svg>
                            </div>
                            <input type="hidden" id="pacienteId">
                        </div>                        
                    </div>
                    <div class="form-group row">
                        <div class="col-1 d-flex align-items-end justify-content-center pb-2"><i class="text-muted far fa-user-nurse fa-2x"></i></div>  
                        <div class="col-11 has-feedback form-row">
                            <label asp-for="Medico.NomeMedico" class="col-4 col-form-label font-weight-bold text-muted">Médico</label>
                            <input asp-for="Medico.NomeMedico" type="text" class="form-control text-muted" autocomplete="off" placeholder="Informe nome ou CRO">
                            <div id="loadMedico" class="autocomplete-feedback form-control-feedback" style="display: none;">
                                <svg class="_loading_svg" viewBox="0 0 46 46">
                                    <circle class="_loading_svg_circle" cx="23" cy="23" r="20" fill="none"></circle>
                                </svg>
                            </div>
                            <input type="hidden" id="medicoId">
                        </div>   
                    </div>                    
                    <div class="form-group row">
                        <div class="col-1 d-flex align-items-end justify-content-center pb-2"><i class="text-muted far fa-clock fa-2x"></i></div> 
                        <div class="col-11 form-row">  
                            <div class="col-6">
                                <label for="dia" class="col-form-label font-weight-bold text-muted">Dia</label>
                                <input type="date" class="form-control" id="dia"/>
                            </div>
                            <div class="col-3">
                                <label for="inicio" class="col-form-label font-weight-bold text-muted">Início</label>
                                <input type="text" class="form-control date-time" id="inicio">  
                            </div>
                            <div class="col-3">
                                <label for="fim" class="col-form-label font-weight-bold text-muted">Fim</label>
                                <input type="text" class="form-control date-time" id="fim">
                            </div>
                        </div>  
                    </div>
                    <div class="form-group row">
                        <div class="col-1 d-flex align-items-end justify-content-center pb-2"><i class="text-muted far fa-calendar-check fa-2x"></i></div> 
                        <div class="col-5">
                            <label for="situacao" class="col-sm-4 col-form-label font-weight-bold text-muted">Situação</label>
                            <select id="situacao" class="form-control" onchange="this.parentNode.parentNode.querySelector('span').style.backgroundColor = this.value">
                                <option value="#5cb85c">Confirmado <i class="fa fa-angle-down"></i></option>
                                <option value="#f0ad4e">Pendente</option>
                                <option value="#d9534f">Cancelado</option>
                            </select>
                        </div>
                        <div class="col-1 d-flex align-items-end justify-content-center pb-2"><span class="circle"></span></div> 
                    </div>
                    <div class="form-group row">
                         <div class="col-1 d-flex align-items-center justify-content-center pb-2"><i class="text-muted fas fa-align-left fa-2x"></i></div> 
                         <div class="col-11 form-row">   
                            <label for="descricao" class="col-sm-4 col-form-label font-weight-bold text-muted">Descricao</label>
                            <textarea type="text" class="form-control" id="descricao" cols="40" rows="4"></textarea>
                         </div>
                    </div>
                </form>
            </div>
            <!--rodapé do modal-->
            <div class="modal-footer text-right">
                <button type="button" class="ml-1 btn btn-danger  btn-sm deleteEvent">EXCLUIR</button>
                <button type="button" class="ml-1 btn btn-sm btn-primary font-weight-bold saveEvent">SALVAR</button>
            </div>
        </div> 
    </div>
</div>
@section Scripts{
    <!------------------------------------------------------------>
    <script>
        let objCalendar
        let token = $('input[name="RequestVerificationToken"]').val();
    </script>
    <script src='~/agenda/resources/core/main.js'></script>
    <script src='~/agenda/resources/interaction/main.js'></script>
    <script src='~/agenda/resources/daygrid/main.js'></script>
    <script src='~/agenda/resources/timegrid/main.js'></script>
    <script src='~/agenda/resources/list/main.js'></script>
    <script src='~/agenda/resources/core/locales-all.js'></script>
    <script src='~/agenda/resources/bootstrap/main.js'></script>
    <script src='~/agenda/js/moment.min.js'></script>
    <script src='~/agenda/js/theme-chooser.js'></script>
    <script src='~/agenda/js/botoesAgendaScript.js'></script>
    <script src='~/agenda/js/agendaScript.js'></script>
}
