<h2 class="font-weight-bold text-muted">
   DESATIVAR CONTA
</h2>
<div class="text-center mt-5">
    <h1 class="fa fa-exclamation-triangle text-danger display-1"></h1>
</div>
<div class="rounded col-11 ml-auto mr-auto text-dark mb-5" role="alert">
    <h2 class="text-muted text-justify">Você deseja mesmo nos dar um até mais?</h2>
</div>
<div class="float-left">
    <input type="button" class="btn btn-sm btn-outline-light text-muted font-weight-bold border-0" data-dismiss="modal" value="FECHAR" />
</div>
<div class="float-right">
    <form asp-action="CancelarAssinatura" method="post"><input type="submit" value="Cancelar Assinatura" class="btn btn-sm btn-danger text-white border-0 font-weight-bold" /></form>
</div>