
@{
    ViewData["Title"] = "DadosDoCartao";
    Layout = "~/Views/Shared/_Layout_3.cshtml";
}

<div class="card card-dark bg-dark-gradient col-3 ml-auto mr-auto">
    <div class="card-body bubble-shadow">
        <img src="../assets/img/visa.svg" height="13" alt="Visa Logo">
        <h2 class="py-4 mb-0">1234 **** **** 5678</h2>
        <div class="row">
            <div class="col-8 pr-0">
                <h3 class="fw-bold mb-1">Sultan Ghani</h3>
                <div class="text-small text-uppercase fw-bold op-8">Card Holder</div>
            </div>
            <div class="col-4 pl-0 text-right">
                <h3 class="fw-bold mb-1">4/26</h3>
                <div class="text-small text-uppercase fw-bold op-8">Expired</div>
            </div>
        </div>
    </div>
</div>
