@model PerguntaAnamnese
<h2 class="font-weight-bold text-muted">
    EDITAR PERGUNTA
</h2>
<div class="row">
    <div class="mt-4 rounded alert alert-danger text-danger" role="alert">
        <span class="h4">
            Atenção: Alterar essa pergunta neste modelo de anamnese, refletirá EM TODAS AS ANAMNESES que utilizam essa pergunta.
        </span>
    </div>
    <div class="col-md-12">
        <form asp-action="Edit">
            <input type="hidden" asp-for="PerguntaAnamneseId" />
            <input type="hidden" asp-for="Pergunta.PerguntaId" />
            <input type="hidden" asp-for="UsuarioId" />

            <div class="form-group form-floating-label">
                <input asp-for="Pergunta.DescricaoPergunta" type="text" id="input1" class="form-control input-border-bottom" required />
                <label asp-for="Pergunta.DescricaoPergunta" for="input1" class="placeholder control-label"></label>
                <span asp-validation-for="Pergunta.DescricaoPergunta" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 form-floating-label mt-3">
                <select asp-for="TipoPerguntaId" class="form-control input-border-bottom" id="select1" asp-items="ViewBag.TipoPerguntaId" required><option></option></select>
                <label asp-for="TipoPergunta.DescricaoTipoPergunta" for="select1" class="placeholder control-label"></label>
                <span asp-validation-for="TipoPergunta.DescricaoTipoPergunta" class="text-danger"></span>
            </div>
            <div class="form-row mt-3">
                <div class="col-4 text-left">
                    <input type="button" class="btn btn-sm btn-danger font-weight-bold border-0 deletePergunta" data-id="@Model.PerguntaAnamneseId" value="EXCLUIR" />
                </div>
                <div class="col text-right">
                    <input type="button" class="btn btn-sm btn-outline-light text-muted font-weight-bold border-0" data-dismiss="modal" value="FECHAR" />
                    <input type="submit" value="SALVAR" class="ml-1 btn btn-primary font-weight-bold  btn-sm" />
                </div>
            </div>
        </form>
    </div>
</div>


@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(".deletePergunta").click(function () {
        let id = $(this).attr("data-id")

        $("#modal").load("/Perguntas/Delete/" + id, function () {
            $("#Tmodal").modal("show")
        })
    })
</script>